body {
  background-color: rgba(60, 83, 83, 0.127);
}

button {
  border: none;
  background-color: azure;
  margin: 5px;
}

li {
  list-style: none;
}

.btn-enter {
  color: black;
  border: 1px solid black;
}

span {
  color: rgb(2, 93, 2);
  background-color: white;
  border-radius: 5px;
  padding: 4px;
}
